*{
	margin: 0;
	padding:0;
}
#test{
	width:100px;
	height: 100px;
}
.father{
	background-color:red;
	border:blue;
	box-sizing:border-box;
}
.son{
	background: blue;
	border:red;
	box-sizing: border-box;	
}